.layerPanel {
  margin-left: 20px;
  margin-top: 15px;
  width: 180px;
  background: #A1D6E2;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  align-self: flex-start;
  height: auto;
}

.layerPanel-list {
  background: #ffffff;
  margin: 4px 0;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 14px;
}
