.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.background-default {
  background-image: url("./background.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-attachment: fixed;
}

.main {
  display: flex;
  flex: 1;
}

canvas {
  border: 1px solid #ccc;
  background: white;
}

.styling {
  display: flex;
  justify-content: center;
}
