@import url('https://fonts.googleapis.com/css2?family=Shizuru&display=swap');

.canvasArea {
  border: 1px solid #ccc;
  cursor: crosshair;
  background: #fff;
  
}

.canvasArea-background{
  background: pink;
  margin-top: 15px;
  padding: 10px;
  width : 800px;
  height: 700px;
}

.shizuru-regular {
  font-family: "Shizuru", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 75px;
  align-items: center;
}

